=begin
#Ytel API V3

#Ytel API version 3

OpenAPI spec version: 3.12

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module SwaggerClient
  class CarrierApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Lookup Carrier
    # Get the Carrier Lookup
    # @param phone_number A valid 10-digit number (E.164 format).
    # @param [Hash] opts the optional parameters
    # @return [String]
    def carrier_lookup(phone_number, opts = {})
      data, _status_code, _headers = carrier_lookup_with_http_info(phone_number, opts)
      return data
    end

    # Lookup Carrier
    # Get the Carrier Lookup
    # @param phone_number A valid 10-digit number (E.164 format).
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def carrier_lookup_with_http_info(phone_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CarrierApi.carrier_lookup ..."
      end
      # verify the required parameter 'phone_number' is set
      if @api_client.config.client_side_validation && phone_number.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number' when calling CarrierApi.carrier_lookup"
      end
      # resource path
      local_var_path = "/carrier/lookup.json"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params["PhoneNumber"] = phone_number

      # http body (model)
      post_body = nil
      auth_names = ['auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarrierApi#carrier_lookup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Carrier Results
    # Retrieve a list of carrier lookup objects.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page count to retrieve from the total results in the collection. Page indexing starts at 1. (default to 1)
    # @option opts [Integer] :page_size The count of objects to return per page. (default to 10)
    # @return [String]
    def carrier_lookuplist(opts = {})
      data, _status_code, _headers = carrier_lookuplist_with_http_info(opts)
      return data
    end

    # Carrier Results
    # Retrieve a list of carrier lookup objects.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page count to retrieve from the total results in the collection. Page indexing starts at 1.
    # @option opts [Integer] :page_size The count of objects to return per page.
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def carrier_lookuplist_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CarrierApi.carrier_lookuplist ..."
      end
      # resource path
      local_var_path = "/carrier/lookuplist.json"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params["Page"] = opts[:'page'] if !opts[:'page'].nil?
      form_params["PageSize"] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarrierApi#carrier_lookuplist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
