/**
 * Ytel API V3
 * Ytel API version 3
 *
 * OpenAPI spec version: 3.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package io.swagger.client.api;

import io.swagger.client.ApiInvoker;
import io.swagger.client.ApiException;
import io.swagger.client.Pair;

import io.swagger.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;


import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class SMSApi {
  String basePath = "https://api.message360.com/api/v3/";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * List Inbound SMS
  * Retrieve a list of Inbound SMS message objects.
   * @param page The page count to retrieve from the total results in the collection. Page indexing starts at 1.
   * @param pageSize The count of objects to return per page.
   * @param from Filter SMS message objects from this valid 10-digit phone number (E.164 format).
   * @param to Filter SMS message objects to this valid 10-digit phone number (E.164 format).
   * @param dateSent Filter sms message objects by this date.
   * @return String
  */
  public String smsGetinboundsms (Integer page, Integer pageSize, String from, String to, String dateSent) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/sms/getinboundsms.json";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/x-www-form-urlencoded"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      if (page != null) {
        localVarBuilder.addTextBody("Page", ApiInvoker.parameterToString(page), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (pageSize != null) {
        localVarBuilder.addTextBody("PageSize", ApiInvoker.parameterToString(pageSize), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (from != null) {
        localVarBuilder.addTextBody("From", ApiInvoker.parameterToString(from), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (to != null) {
        localVarBuilder.addTextBody("To", ApiInvoker.parameterToString(to), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (dateSent != null) {
        localVarBuilder.addTextBody("DateSent", ApiInvoker.parameterToString(dateSent), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
      formParams.put("Page", ApiInvoker.parameterToString(page));
      formParams.put("PageSize", ApiInvoker.parameterToString(pageSize));
      formParams.put("From", ApiInvoker.parameterToString(from));
      formParams.put("To", ApiInvoker.parameterToString(to));
      formParams.put("DateSent", ApiInvoker.parameterToString(dateSent));
    }

    String[] authNames = new String[] { "auth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (String) ApiInvoker.deserialize(localVarResponse, "", String.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List Inbound SMS
   * Retrieve a list of Inbound SMS message objects.
   * @param page The page count to retrieve from the total results in the collection. Page indexing starts at 1.   * @param pageSize The count of objects to return per page.   * @param from Filter SMS message objects from this valid 10-digit phone number (E.164 format).   * @param to Filter SMS message objects to this valid 10-digit phone number (E.164 format).   * @param dateSent Filter sms message objects by this date.
  */
  public void smsGetinboundsms (Integer page, Integer pageSize, String from, String to, String dateSent, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/sms/getinboundsms.json".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/x-www-form-urlencoded"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      
      if (page != null) {
        localVarBuilder.addTextBody("Page", ApiInvoker.parameterToString(page), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (pageSize != null) {
        localVarBuilder.addTextBody("PageSize", ApiInvoker.parameterToString(pageSize), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (from != null) {
        localVarBuilder.addTextBody("From", ApiInvoker.parameterToString(from), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (to != null) {
        localVarBuilder.addTextBody("To", ApiInvoker.parameterToString(to), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (dateSent != null) {
        localVarBuilder.addTextBody("DateSent", ApiInvoker.parameterToString(dateSent), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
      formParams.put("Page", ApiInvoker.parameterToString(page));
formParams.put("PageSize", ApiInvoker.parameterToString(pageSize));
formParams.put("From", ApiInvoker.parameterToString(from));
formParams.put("To", ApiInvoker.parameterToString(to));
formParams.put("DateSent", ApiInvoker.parameterToString(dateSent));
    }

    String[] authNames = new String[] { "auth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((String) ApiInvoker.deserialize(localVarResponse,  "", String.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List SMS
  * Retrieve a list of Outbound SMS message objects.
   * @param page The page count to retrieve from the total results in the collection. Page indexing starts at 1.
   * @param pageSize Number of individual resources listed in the response per page
   * @param from Filter SMS message objects from this valid 10-digit phone number (E.164 format).
   * @param to Filter SMS message objects to this valid 10-digit phone number (E.164 format).
   * @param dateSent Only list SMS messages sent in the specified date range
   * @return String
  */
  public String smsListsms (Integer page, Integer pageSize, String from, String to, String dateSent) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/sms/listsms.json";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/x-www-form-urlencoded"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      if (page != null) {
        localVarBuilder.addTextBody("Page", ApiInvoker.parameterToString(page), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (pageSize != null) {
        localVarBuilder.addTextBody("PageSize", ApiInvoker.parameterToString(pageSize), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (from != null) {
        localVarBuilder.addTextBody("From", ApiInvoker.parameterToString(from), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (to != null) {
        localVarBuilder.addTextBody("To", ApiInvoker.parameterToString(to), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (dateSent != null) {
        localVarBuilder.addTextBody("DateSent", ApiInvoker.parameterToString(dateSent), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
      formParams.put("Page", ApiInvoker.parameterToString(page));
      formParams.put("PageSize", ApiInvoker.parameterToString(pageSize));
      formParams.put("From", ApiInvoker.parameterToString(from));
      formParams.put("To", ApiInvoker.parameterToString(to));
      formParams.put("DateSent", ApiInvoker.parameterToString(dateSent));
    }

    String[] authNames = new String[] { "auth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (String) ApiInvoker.deserialize(localVarResponse, "", String.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List SMS
   * Retrieve a list of Outbound SMS message objects.
   * @param page The page count to retrieve from the total results in the collection. Page indexing starts at 1.   * @param pageSize Number of individual resources listed in the response per page   * @param from Filter SMS message objects from this valid 10-digit phone number (E.164 format).   * @param to Filter SMS message objects to this valid 10-digit phone number (E.164 format).   * @param dateSent Only list SMS messages sent in the specified date range
  */
  public void smsListsms (Integer page, Integer pageSize, String from, String to, String dateSent, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/sms/listsms.json".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/x-www-form-urlencoded"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      
      if (page != null) {
        localVarBuilder.addTextBody("Page", ApiInvoker.parameterToString(page), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (pageSize != null) {
        localVarBuilder.addTextBody("PageSize", ApiInvoker.parameterToString(pageSize), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (from != null) {
        localVarBuilder.addTextBody("From", ApiInvoker.parameterToString(from), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (to != null) {
        localVarBuilder.addTextBody("To", ApiInvoker.parameterToString(to), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (dateSent != null) {
        localVarBuilder.addTextBody("DateSent", ApiInvoker.parameterToString(dateSent), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
      formParams.put("Page", ApiInvoker.parameterToString(page));
formParams.put("PageSize", ApiInvoker.parameterToString(pageSize));
formParams.put("From", ApiInvoker.parameterToString(from));
formParams.put("To", ApiInvoker.parameterToString(to));
formParams.put("DateSent", ApiInvoker.parameterToString(dateSent));
    }

    String[] authNames = new String[] { "auth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((String) ApiInvoker.deserialize(localVarResponse,  "", String.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Send SMS
  * Send an SMS from a Ytel number
   * @param from The 10-digit SMS-enabled Ytel number (E.164 format) in which the message is sent.
   * @param to The 10-digit phone number (E.164 format) that will receive the message.
   * @param body The body message that is to be sent in the text.
   * @param method Specifies the HTTP method used to request the required URL once SMS sent.
   * @param messageStatusCallback URL that can be requested to receive notification when SMS has Sent. A set of default parameters will be sent here once the SMS is finished.
   * @param smartsms Check&#39;s &#39;to&#39; number can receive sms or not using Carrier API, if wireless &#x3D; true then text sms is sent, else wireless &#x3D; false then call is recieved to end user with audible message.
   * @param deliveryStatus Delivery reports are a method to tell your system if the message has arrived on the destination phone.
   * @return String
  */
  public String smsSendsms (String from, String to, String body, String method, String messageStatusCallback, Boolean smartsms, Boolean deliveryStatus) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'from' is set
    if (from == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'from' when calling smsSendsms",
        new ApiException(400, "Missing the required parameter 'from' when calling smsSendsms"));
    }
    // verify the required parameter 'to' is set
    if (to == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'to' when calling smsSendsms",
        new ApiException(400, "Missing the required parameter 'to' when calling smsSendsms"));
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'body' when calling smsSendsms",
        new ApiException(400, "Missing the required parameter 'body' when calling smsSendsms"));
    }

    // create path and map variables
    String path = "/sms/sendsms.json";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/x-www-form-urlencoded"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      if (from != null) {
        localVarBuilder.addTextBody("From", ApiInvoker.parameterToString(from), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (to != null) {
        localVarBuilder.addTextBody("To", ApiInvoker.parameterToString(to), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (body != null) {
        localVarBuilder.addTextBody("Body", ApiInvoker.parameterToString(body), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (method != null) {
        localVarBuilder.addTextBody("Method", ApiInvoker.parameterToString(method), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (messageStatusCallback != null) {
        localVarBuilder.addTextBody("MessageStatusCallback", ApiInvoker.parameterToString(messageStatusCallback), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (smartsms != null) {
        localVarBuilder.addTextBody("Smartsms", ApiInvoker.parameterToString(smartsms), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      if (deliveryStatus != null) {
        localVarBuilder.addTextBody("DeliveryStatus", ApiInvoker.parameterToString(deliveryStatus), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
      formParams.put("From", ApiInvoker.parameterToString(from));
      formParams.put("To", ApiInvoker.parameterToString(to));
      formParams.put("Body", ApiInvoker.parameterToString(body));
      formParams.put("Method", ApiInvoker.parameterToString(method));
      formParams.put("MessageStatusCallback", ApiInvoker.parameterToString(messageStatusCallback));
      formParams.put("Smartsms", ApiInvoker.parameterToString(smartsms));
      formParams.put("DeliveryStatus", ApiInvoker.parameterToString(deliveryStatus));
    }

    String[] authNames = new String[] { "auth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (String) ApiInvoker.deserialize(localVarResponse, "", String.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Send SMS
   * Send an SMS from a Ytel number
   * @param from The 10-digit SMS-enabled Ytel number (E.164 format) in which the message is sent.   * @param to The 10-digit phone number (E.164 format) that will receive the message.   * @param body The body message that is to be sent in the text.   * @param method Specifies the HTTP method used to request the required URL once SMS sent.   * @param messageStatusCallback URL that can be requested to receive notification when SMS has Sent. A set of default parameters will be sent here once the SMS is finished.   * @param smartsms Check&#39;s &#39;to&#39; number can receive sms or not using Carrier API, if wireless &#x3D; true then text sms is sent, else wireless &#x3D; false then call is recieved to end user with audible message.   * @param deliveryStatus Delivery reports are a method to tell your system if the message has arrived on the destination phone.
  */
  public void smsSendsms (String from, String to, String body, String method, String messageStatusCallback, Boolean smartsms, Boolean deliveryStatus, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'from' is set
    if (from == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'from' when calling smsSendsms",
        new ApiException(400, "Missing the required parameter 'from' when calling smsSendsms"));
    }
    // verify the required parameter 'to' is set
    if (to == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'to' when calling smsSendsms",
        new ApiException(400, "Missing the required parameter 'to' when calling smsSendsms"));
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'body' when calling smsSendsms",
        new ApiException(400, "Missing the required parameter 'body' when calling smsSendsms"));
    }

    // create path and map variables
    String path = "/sms/sendsms.json".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/x-www-form-urlencoded"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      
      if (from != null) {
        localVarBuilder.addTextBody("From", ApiInvoker.parameterToString(from), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (to != null) {
        localVarBuilder.addTextBody("To", ApiInvoker.parameterToString(to), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (body != null) {
        localVarBuilder.addTextBody("Body", ApiInvoker.parameterToString(body), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (method != null) {
        localVarBuilder.addTextBody("Method", ApiInvoker.parameterToString(method), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (messageStatusCallback != null) {
        localVarBuilder.addTextBody("MessageStatusCallback", ApiInvoker.parameterToString(messageStatusCallback), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (smartsms != null) {
        localVarBuilder.addTextBody("Smartsms", ApiInvoker.parameterToString(smartsms), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      
      if (deliveryStatus != null) {
        localVarBuilder.addTextBody("DeliveryStatus", ApiInvoker.parameterToString(deliveryStatus), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
      formParams.put("From", ApiInvoker.parameterToString(from));
formParams.put("To", ApiInvoker.parameterToString(to));
formParams.put("Body", ApiInvoker.parameterToString(body));
formParams.put("Method", ApiInvoker.parameterToString(method));
formParams.put("MessageStatusCallback", ApiInvoker.parameterToString(messageStatusCallback));
formParams.put("Smartsms", ApiInvoker.parameterToString(smartsms));
formParams.put("DeliveryStatus", ApiInvoker.parameterToString(deliveryStatus));
    }

    String[] authNames = new String[] { "auth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((String) ApiInvoker.deserialize(localVarResponse,  "", String.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * View SMS
  * Retrieve a single SMS message object with details by its SmsSid.
   * @param messageSid The unique identifier for a sms message.
   * @return String
  */
  public String smsViewdetailsms (String messageSid) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'messageSid' is set
    if (messageSid == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'messageSid' when calling smsViewdetailsms",
        new ApiException(400, "Missing the required parameter 'messageSid' when calling smsViewdetailsms"));
    }

    // create path and map variables
    String path = "/sms/viewdetailsms.json";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/x-www-form-urlencoded"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      if (messageSid != null) {
        localVarBuilder.addTextBody("MessageSid", ApiInvoker.parameterToString(messageSid), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
      formParams.put("MessageSid", ApiInvoker.parameterToString(messageSid));
    }

    String[] authNames = new String[] { "auth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (String) ApiInvoker.deserialize(localVarResponse, "", String.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * View SMS
   * Retrieve a single SMS message object with details by its SmsSid.
   * @param messageSid The unique identifier for a sms message.
  */
  public void smsViewdetailsms (String messageSid, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'messageSid' is set
    if (messageSid == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'messageSid' when calling smsViewdetailsms",
        new ApiException(400, "Missing the required parameter 'messageSid' when calling smsViewdetailsms"));
    }

    // create path and map variables
    String path = "/sms/viewdetailsms.json".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/x-www-form-urlencoded"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      
      if (messageSid != null) {
        localVarBuilder.addTextBody("MessageSid", ApiInvoker.parameterToString(messageSid), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
      formParams.put("MessageSid", ApiInvoker.parameterToString(messageSid));
    }

    String[] authNames = new String[] { "auth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((String) ApiInvoker.deserialize(localVarResponse,  "", String.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * View SMS
  * Retrieve a single SMS message object by its SmsSid.
   * @param messageSid The unique identifier for a sms message.
   * @return String
  */
  public String smsViewsms (String messageSid) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'messageSid' is set
    if (messageSid == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'messageSid' when calling smsViewsms",
        new ApiException(400, "Missing the required parameter 'messageSid' when calling smsViewsms"));
    }

    // create path and map variables
    String path = "/sms/viewsms.json";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/x-www-form-urlencoded"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      if (messageSid != null) {
        localVarBuilder.addTextBody("MessageSid", ApiInvoker.parameterToString(messageSid), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
      formParams.put("MessageSid", ApiInvoker.parameterToString(messageSid));
    }

    String[] authNames = new String[] { "auth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (String) ApiInvoker.deserialize(localVarResponse, "", String.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * View SMS
   * Retrieve a single SMS message object by its SmsSid.
   * @param messageSid The unique identifier for a sms message.
  */
  public void smsViewsms (String messageSid, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'messageSid' is set
    if (messageSid == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'messageSid' when calling smsViewsms",
        new ApiException(400, "Missing the required parameter 'messageSid' when calling smsViewsms"));
    }

    // create path and map variables
    String path = "/sms/viewsms.json".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/x-www-form-urlencoded"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      
      if (messageSid != null) {
        localVarBuilder.addTextBody("MessageSid", ApiInvoker.parameterToString(messageSid), ApiInvoker.TEXT_PLAIN_UTF8);
      }
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
      formParams.put("MessageSid", ApiInvoker.parameterToString(messageSid));
    }

    String[] authNames = new String[] { "auth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((String) ApiInvoker.deserialize(localVarResponse,  "", String.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
