# coding: utf-8

"""
    Ytel API V3

    Ytel API version 3  # noqa: E501

    OpenAPI spec version: 3.12
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AccountApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def accounts_viewaccount(self, date, **kwargs):  # noqa: E501
        """View Account  # noqa: E501

        Retrieve information regarding your Ytel account by a specific date. The response object will contain data such as account status, balance, and account usage totals.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.accounts_viewaccount(date, async=True)
        >>> result = thread.get()

        :param async bool
        :param str date: Filter account information based on date. (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.accounts_viewaccount_with_http_info(date, **kwargs)  # noqa: E501
        else:
            (data) = self.accounts_viewaccount_with_http_info(date, **kwargs)  # noqa: E501
            return data

    def accounts_viewaccount_with_http_info(self, date, **kwargs):  # noqa: E501
        """View Account  # noqa: E501

        Retrieve information regarding your Ytel account by a specific date. The response object will contain data such as account status, balance, and account usage totals.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.accounts_viewaccount_with_http_info(date, async=True)
        >>> result = thread.get()

        :param async bool
        :param str date: Filter account information based on date. (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['date']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_viewaccount" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'date' is set
        if ('date' not in params or
                params['date'] is None):
            raise ValueError("Missing the required parameter `date` when calling `accounts_viewaccount`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'date' in params:
            form_params.append(('Date', params['date']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['auth']  # noqa: E501

        return self.api_client.call_api(
            '/accounts/viewaccount.json', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
