/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object AccountApi {

  /**
   * Retrieve information regarding your Ytel account by a specific date. The response object will contain data such as account status, balance, and account usage totals.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param date Filter account information based on date.
   */
  def accountsViewaccount(date: String)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.message360.com/api/v3/", "/accounts/viewaccount.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("Date", date)
      .withSuccessResponse[String](200)
      

}

