/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object AreaMailApi {

  /**
   * Create a new AreaMail object.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param routes List of routes that AreaMail should be delivered to.  A single route can be either a zipcode or a carrier route.List of routes that AreaMail should be delivered to.  A single route can be either a zipcode or a carrier route. A carrier route is in the form of 92610-C043 where the carrier route is composed of 5 numbers for zipcode, 1 letter for carrier route type, and 3 numbers for carrier route code. Delivery can be sent to mutliple routes by separating them with a commas. Valid Values: 92656, 92610-C043
   * @param attachbyid Set an existing areamail by attaching its AreamailId.
   * @param front The front of the AreaMail item to be created. This can be a URL, local file, or an HTML string. Supported file types are PDF, PNG, and JPEG. Back required
   * @param back The back of the AreaMail item to be created. This can be a URL, local file, or an HTML string. Supported file types are PDF, PNG, and JPEG.
   * @param description A string value to use as a description for this AreaMail item.
   * @param targettype The delivery location type.
   * @param htmldata A string value that contains HTML markup.
   */
  def areamailCreate(routes: String, attachbyid: String, front: String, back: String, description: Option[String] = None, targettype: Option[String] = None, htmldata: Option[String] = None)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.ytel.com/api/v3", "/areamail/create.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("routes", routes)
      .withFormParam("attachbyid", attachbyid)
      .withFormParam("front", front)
      .withFormParam("back", back)
      .withFormParam("description", description)
      .withFormParam("targettype", targettype)
      .withFormParam("htmldata", htmldata)
      .withSuccessResponse[String](200)
        /**
   * Remove an AreaMail object by its AreaMailId.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param areamailid The unique identifier for an AreaMail object.
   */
  def areamailDelete(areamailid: String)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.ytel.com/api/v3", "/areamail/delete.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("areamailid", areamailid)
      .withSuccessResponse[String](200)
        /**
   * Retrieve a list of AreaMail objects.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param page The page count to retrieve from the total results in the collection. Page indexing starts at 1.
   * @param pagesize The count of objects to return per page.
   * @param areamailsid The unique identifier for an AreaMail object.
   * @param dateCreated The date the AreaMail was created.
   */
  def areamailLists(page: Option[Int], pagesize: Option[Int], areamailsid: Option[String] = None, dateCreated: Option[String] = None)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.ytel.com/api/v3", "/areamail/lists.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("page", page)
      .withFormParam("pagesize", pagesize)
      .withFormParam("areamailsid", areamailsid)
      .withFormParam("dateCreated", dateCreated)
      .withSuccessResponse[String](200)
        /**
   * Retrieve an AreaMail object by its AreaMailId.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param areamailid The unique identifier for an AreaMail object.
   */
  def areamailView(areamailid: String)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.ytel.com/api/v3", "/areamail/view.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("areamailid", areamailid)
      .withSuccessResponse[String](200)
      

}

