/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object RecordingApi {

  /**
   * Remove a recording from your Ytel account.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param recordingsid The unique identifier for a recording.
   */
  def recordingDeleterecording(recordingsid: String)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.message360.com/api/v3/", "/recording/deleterecording.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("recordingsid", recordingsid)
      .withSuccessResponse[String](200)
        /**
   * Retrieve a list of recording objects.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param page The page count to retrieve from the total results in the collection. Page indexing starts at 1.
   * @param pagesize The count of objects to return per page.
   * @param datecreated Filter results by creation date
   * @param callsid The unique identifier for a call.
   */
  def recordingListrecording(page: Option[Int], pagesize: Option[Int], datecreated: Option[String] = None, callsid: Option[String] = None)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.message360.com/api/v3/", "/recording/listrecording.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("page", page)
      .withFormParam("pagesize", pagesize)
      .withFormParam("Datecreated", datecreated)
      .withFormParam("callsid", callsid)
      .withSuccessResponse[String](200)
        /**
   * Retrieve the recording of a call by its RecordingSid. This resource will return information regarding the call such as start time, end time, duration, and so forth.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param recordingsid The unique identifier for the recording.
   */
  def recordingViewrecording(recordingsid: String)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.message360.com/api/v3/", "/recording/viewrecording.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("recordingsid", recordingsid)
      .withSuccessResponse[String](200)
      

}

