/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object SubAccountApi {

  /**
   * Create a sub user account under the parent account
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param firstName Sub account user first name
   * @param lastName sub account user last name
   * @param email Sub account email address
   * @param friendlyName Descriptive name of the sub account
   * @param password The password of the sub account.  Please make sure to make as password that is at least 8 characters long, contain a symbol, uppercase and a number.
   */
  def userCreatesubaccount(firstName: String, lastName: String, email: String, friendlyName: String, password: String)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.message360.com/api/v3/", "/user/createsubaccount.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("FirstName", firstName)
      .withFormParam("LastName", lastName)
      .withFormParam("Email", email)
      .withFormParam("FriendlyName", friendlyName)
      .withFormParam("Password", password)
      .withSuccessResponse[String](200)
        /**
   * Delete sub account or merge numbers into parent
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param subAccountSID The SubaccountSid to be deleted
   * @param mergeNumber 0 to delete or 1 to merge numbers to parent account.
   */
  def userDeletesubaccount(subAccountSID: String, mergeNumber: String)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.message360.com/api/v3/", "/user/deletesubaccount.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("SubAccountSID", subAccountSID)
      .withFormParam("MergeNumber", mergeNumber)
      .withSuccessResponse[String](200)
        /**
   * Suspend or unsuspend
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param subAccountSID The SubaccountSid to be activated or suspended
   * @param activate 0 to suspend or 1 to activate
   */
  def userSubaccountactivation(subAccountSID: String, activate: String)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.message360.com/api/v3/", "/user/subaccountactivation.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("SubAccountSID", subAccountSID)
      .withFormParam("Activate", activate)
      .withSuccessResponse[String](200)
      

}

