/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object TranscriptionApi {

  /**
   * Transcribe an audio recording from a file.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param audiourl URL pointing to the location of the audio file that is to be transcribed.
   */
  def transcriptionsAudiourltranscription(audiourl: String)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.message360.com/api/v3/", "/transcriptions/audiourltranscription.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("audiourl", audiourl)
      .withSuccessResponse[String](200)
        /**
   * Retrieve a list of transcription objects for your Ytel account.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param page The page count to retrieve from the total results in the collection. Page indexing starts at 1.
   * @param pagesize The count of objects to return per page.
   * @param status The state of the transcription.
   * @param dateTranscribed The date the transcription took place.
   */
  def transcriptionsListtranscription(page: Option[Int], pagesize: Option[Int], status: Option[String] = None, dateTranscribed: Option[String] = None)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.message360.com/api/v3/", "/transcriptions/listtranscription.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("page", page)
      .withFormParam("pagesize", pagesize)
      .withFormParam("status", status)
      .withFormParam("dateTranscribed", dateTranscribed)
      .withSuccessResponse[String](200)
        /**
   * Transcribe a recording by its RecordingSid.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param recordingSid The unique identifier for a recording object.
   */
  def transcriptionsRecordingtranscription(recordingSid: String)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.message360.com/api/v3/", "/transcriptions/recordingtranscription.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("recordingSid", recordingSid)
      .withSuccessResponse[String](200)
        /**
   * Retrieve information about a transaction by its TranscriptionSid.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param transcriptionsid The unique identifier for a transcription object.
   */
  def transcriptionsViewtranscription(transcriptionsid: String)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.message360.com/api/v3/", "/transcriptions/viewtranscription.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("transcriptionsid", transcriptionsid)
      .withSuccessResponse[String](200)
      

}

