/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object UsageApi {

  /**
   * Retrieve usage metrics regarding your Ytel account. The results includes inbound/outbound voice calls and inbound/outbound SMS messages as well as carrier lookup requests.
   * 
   * Expected answers:
   *   code 200 : String 
   * 
   * Available security schemes:
   *   auth (basic)
   * 
   * @param productCode Filter usage results by product type.
   * @param startDate Filter usage objects by start date.
   * @param endDate Filter usage objects by end date.
   * @param includeSubAccounts Will include all subaccount usage data
   */
  def usageListusage(productCode: Option[String], startDate: Option[String], endDate: Option[String], includeSubAccounts: Option[String] = None)(implicit basicAuth: BasicCredentials): ApiRequest[String] =
    ApiRequest[String](ApiMethods.POST, "https://api.message360.com/api/v3/", "/usage/listusage.json", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth)
      .withFormParam("ProductCode", productCode)
      .withFormParam("startDate", startDate)
      .withFormParam("endDate", endDate)
      .withFormParam("IncludeSubAccounts", includeSubAccounts)
      .withSuccessResponse[String](200)
      

}

