/**
* Ytel API V3
* Ytel API version 3
*
* OpenAPI spec version: 3.12
* 
*
* NOTE: This class is auto generated by the swagger code generator program.
* https://github.com/swagger-api/swagger-codegen.git
* Do not edit the class manually.
*/
package io.swagger.client.apis


import io.swagger.client.infrastructure.*

class CallApi(basePath: kotlin.String = "https://api.ytel.com/api/v3") : ApiClient(basePath) {

    /**
    * Group Call
    * Group Call
    * @param from This number to display on Caller ID as calling 
    * @param to Please enter multiple E164 number. You can add max 10 numbers. Add numbers separated with comma. e.g : 1111111111,2222222222 
    * @param url URL requested once the call connects 
    * @param groupConfirmKey Define the DTMF that the called party should send to bridge the call. Allowed Values : 0-9, #, * 
    * @param groupConfirmFile Specify the audio file you want to play when the called party picks up the call 
    * @param method Specifies the HTTP method used to request the required URL once call connects. (optional)
    * @param statusCallBackUrl URL that can be requested to receive notification when call has ended. A set of default parameters will be sent here once the call is finished. (optional)
    * @param statusCallBackMethod Specifies the HTTP methodlinkclass used to request StatusCallbackUrl. (optional)
    * @param fallBackUrl URL requested if the initial Url parameter fails or encounters an error (optional)
    * @param fallBackMethod Specifies the HTTP method used to request the required FallbackUrl once call connects. (optional)
    * @param heartBeatUrl URL that can be requested every 60 seconds during the call to notify of elapsed time and pass other general information. (optional)
    * @param heartBeatMethod Specifies the HTTP method used to request HeartbeatUrl. (optional)
    * @param timeout Time (in seconds) we should wait while the call is ringing before canceling the call (optional)
    * @param playDtmf DTMF Digits to play to the call once it connects. 0-9, #, or * (optional)
    * @param hideCallerId Specifies if the caller id will be hidden (optional)
    * @param record Specifies if the call should be recorded (optional)
    * @param recordCallBackUrl Recording parameters will be sent here upon completion (optional)
    * @param recordCallBackMethod Method used to request the RecordCallback URL. (optional)
    * @param transcribe Specifies if the call recording should be transcribed (optional)
    * @param transcribeCallBackUrl Transcription parameters will be sent here upon completion (optional)
    * @return kotlin.String
    */
    @Suppress("UNCHECKED_CAST")
    fun callsGroupcall(from: kotlin.String, to: kotlin.String, url: kotlin.String, groupConfirmKey: kotlin.String, groupConfirmFile: kotlin.String, method: kotlin.String, statusCallBackUrl: kotlin.String, statusCallBackMethod: kotlin.String, fallBackUrl: kotlin.String, fallBackMethod: kotlin.String, heartBeatUrl: kotlin.String, heartBeatMethod: kotlin.String, timeout: kotlin.Int, playDtmf: kotlin.String, hideCallerId: kotlin.String, record: kotlin.Boolean, recordCallBackUrl: kotlin.String, recordCallBackMethod: kotlin.String, transcribe: kotlin.Boolean, transcribeCallBackUrl: kotlin.String) : kotlin.String {
        val localVariableBody: kotlin.Any? = mapOf("From" to "$from", "To" to "$to", "Url" to "$url", "GroupConfirmKey" to "$groupConfirmKey", "GroupConfirmFile" to "$groupConfirmFile", "Method" to "$method", "StatusCallBackUrl" to "$statusCallBackUrl", "StatusCallBackMethod" to "$statusCallBackMethod", "FallBackUrl" to "$fallBackUrl", "FallBackMethod" to "$fallBackMethod", "HeartBeatUrl" to "$heartBeatUrl", "HeartBeatMethod" to "$heartBeatMethod", "Timeout" to "$timeout", "PlayDtmf" to "$playDtmf", "HideCallerId" to "$hideCallerId", "Record" to "$record", "RecordCallBackUrl" to "$recordCallBackUrl", "RecordCallBackMethod" to "$recordCallBackMethod", "Transcribe" to "$transcribe", "TranscribeCallBackUrl" to "$transcribeCallBackUrl")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: kotlin.collections.Map<kotlin.String,kotlin.String> = mapOf("Content-Type" to "multipart/form-data")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/calls/groupcall.json",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.String>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.String
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
            else -> throw kotlin.IllegalStateException("Undefined ResponseType.")
        }
    }

    /**
    * Interrupt Call
    * Interrupt the Call by Call Sid
    * @param callSid The unique identifier for voice call that is in progress. 
    * @param url URL the in-progress call will be redirected to (optional)
    * @param method The method used to request the above Url parameter (optional)
    * @param status Status to set the in-progress call to (optional)
    * @return kotlin.String
    */
    @Suppress("UNCHECKED_CAST")
    fun callsInterruptcalls(callSid: kotlin.String, url: kotlin.String, method: kotlin.String, status: kotlin.String) : kotlin.String {
        val localVariableBody: kotlin.Any? = mapOf("CallSid" to "$callSid", "Url" to "$url", "Method" to "$method", "Status" to "$status")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: kotlin.collections.Map<kotlin.String,kotlin.String> = mapOf("Content-Type" to "multipart/form-data")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/calls/interruptcalls.json",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.String>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.String
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
            else -> throw kotlin.IllegalStateException("Undefined ResponseType.")
        }
    }

    /**
    * List Calls
    * A list of calls associated with your Ytel account
    * @param page The page count to retrieve from the total results in the collection. Page indexing starts at 1. (optional, default to 1)
    * @param pageSize Number of individual resources listed in the response per page (optional, default to 10)
    * @param to Filter calls that were sent to this 10-digit number (E.164 format). (optional)
    * @param from Filter calls that were sent from this 10-digit number (E.164 format). (optional)
    * @param dateCreated Return calls that are from a specified date. (optional)
    * @return kotlin.String
    */
    @Suppress("UNCHECKED_CAST")
    fun callsListcalls(page: kotlin.Int, pageSize: kotlin.Int, to: kotlin.String, from: kotlin.String, dateCreated: kotlin.String) : kotlin.String {
        val localVariableBody: kotlin.Any? = mapOf("Page" to "$page", "PageSize" to "$pageSize", "To" to "$to", "From" to "$from", "DateCreated" to "$dateCreated")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: kotlin.collections.Map<kotlin.String,kotlin.String> = mapOf("Content-Type" to "multipart/form-data")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/calls/listcalls.json",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.String>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.String
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
            else -> throw kotlin.IllegalStateException("Undefined ResponseType.")
        }
    }

    /**
    * Make Call
    * You can experiment with initiating a call through Ytel and view the request response generated when doing so and get the response in json
    * @param from A valid Ytel Voice enabled number (E.164 format) that will be initiating the phone call. 
    * @param to To number 
    * @param url URL requested once the call connects 
    * @param method Specifies the HTTP method used to request the required URL once call connects. (optional)
    * @param statusCallBackUrl URL that can be requested to receive notification when call has ended. A set of default parameters will be sent here once the call is finished. (optional)
    * @param statusCallBackMethod Specifies the HTTP methodlinkclass used to request StatusCallbackUrl. (optional)
    * @param fallBackUrl URL requested if the initial Url parameter fails or encounters an error (optional)
    * @param fallBackMethod Specifies the HTTP method used to request the required FallbackUrl once call connects. (optional)
    * @param heartBeatUrl URL that can be requested every 60 seconds during the call to notify of elapsed tim (optional)
    * @param heartBeatMethod Specifies the HTTP method used to request HeartbeatUrl. (optional)
    * @param timeout Time (in seconds) Ytel should wait while the call is ringing before canceling the call (optional)
    * @param playDtmf DTMF Digits to play to the call once it connects. 0-9, #, or * (optional)
    * @param hideCallerId Specifies if the caller id will be hidden (optional)
    * @param record Specifies if the call should be recorded (optional)
    * @param recordCallBackUrl Recording parameters will be sent here upon completion (optional)
    * @param recordCallBackMethod Method used to request the RecordCallback URL. (optional)
    * @param transcribe Specifies if the call recording should be transcribed (optional)
    * @param transcribeCallBackUrl Transcription parameters will be sent here upon completion (optional)
    * @param ifMachine How Ytel should handle the receiving numbers voicemail machine (optional)
    * @param ifMachineUrl URL requested when IfMachine&#x3D;continue (optional)
    * @param ifMachineMethod Method used to request the IfMachineUrl. (optional)
    * @param feedback Specify if survey should be enable or not (optional)
    * @param surveyId The unique identifier for the survey. (optional)
    * @return kotlin.String
    */
    @Suppress("UNCHECKED_CAST")
    fun callsMakecall(from: kotlin.String, to: kotlin.String, url: kotlin.String, method: kotlin.String, statusCallBackUrl: kotlin.String, statusCallBackMethod: kotlin.String, fallBackUrl: kotlin.String, fallBackMethod: kotlin.String, heartBeatUrl: kotlin.String, heartBeatMethod: kotlin.String, timeout: kotlin.Int, playDtmf: kotlin.String, hideCallerId: kotlin.Boolean, record: kotlin.Boolean, recordCallBackUrl: kotlin.String, recordCallBackMethod: kotlin.String, transcribe: kotlin.Boolean, transcribeCallBackUrl: kotlin.String, ifMachine: kotlin.String, ifMachineUrl: kotlin.String, ifMachineMethod: kotlin.String, feedback: kotlin.Boolean, surveyId: kotlin.String) : kotlin.String {
        val localVariableBody: kotlin.Any? = mapOf("From" to "$from", "To" to "$to", "Url" to "$url", "Method" to "$method", "StatusCallBackUrl" to "$statusCallBackUrl", "StatusCallBackMethod" to "$statusCallBackMethod", "FallBackUrl" to "$fallBackUrl", "FallBackMethod" to "$fallBackMethod", "HeartBeatUrl" to "$heartBeatUrl", "HeartBeatMethod" to "$heartBeatMethod", "Timeout" to "$timeout", "PlayDtmf" to "$playDtmf", "HideCallerId" to "$hideCallerId", "Record" to "$record", "RecordCallBackUrl" to "$recordCallBackUrl", "RecordCallBackMethod" to "$recordCallBackMethod", "Transcribe" to "$transcribe", "TranscribeCallBackUrl" to "$transcribeCallBackUrl", "IfMachine" to "$ifMachine", "IfMachineUrl" to "$ifMachineUrl", "IfMachineMethod" to "$ifMachineMethod", "Feedback" to "$feedback", "SurveyId" to "$surveyId")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: kotlin.collections.Map<kotlin.String,kotlin.String> = mapOf("Content-Type" to "multipart/form-data")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/calls/makecall.json",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.String>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.String
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
            else -> throw kotlin.IllegalStateException("Undefined ResponseType.")
        }
    }

    /**
    * Send RVM
    * Initiate an outbound Ringless Voicemail through Ytel.
    * @param from A valid Ytel Voice enabled number (E.164 format) that will be initiating the phone call. 
    * @param rVMCallerId A required secondary Caller ID for RVM to work. 
    * @param to A valid number (E.164 format) that will receive the phone call. 
    * @param voiceMailURL The URL requested once the RVM connects. A set of default parameters will be sent here. 
    * @param method Specifies the HTTP method used to request the required URL once call connects. (optional, default to GET)
    * @param statusCallBackUrl URL that can be requested to receive notification when call has ended. A set of default parameters will be sent here once the call is finished. (optional)
    * @param statsCallBackMethod Specifies the HTTP method used to request the required StatusCallBackUrl once call connects. (optional)
    * @return kotlin.String
    */
    @Suppress("UNCHECKED_CAST")
    fun callsMakervm(from: kotlin.String, rVMCallerId: kotlin.String, to: kotlin.String, voiceMailURL: kotlin.String, method: kotlin.String, statusCallBackUrl: kotlin.String, statsCallBackMethod: kotlin.String) : kotlin.String {
        val localVariableBody: kotlin.Any? = mapOf("From" to "$from", "RVMCallerId" to "$rVMCallerId", "To" to "$to", "VoiceMailURL" to "$voiceMailURL", "Method" to "$method", "StatusCallBackUrl" to "$statusCallBackUrl", "StatsCallBackMethod" to "$statsCallBackMethod")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: kotlin.collections.Map<kotlin.String,kotlin.String> = mapOf("Content-Type" to "multipart/form-data")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/calls/makervm.json",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.String>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.String
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
            else -> throw kotlin.IllegalStateException("Undefined ResponseType.")
        }
    }

    /**
    * Play Audio
    * Play Audio from a url
    * @param callSid The unique identifier of each call resource 
    * @param audioUrl URL to sound that should be played. You also can add more than one audio file using semicolons e.g. http://example.com/audio1.mp3;http://example.com/audio2.wav 
    * @param sayText Valid alphanumeric string that should be played to the In-progress call. 
    * @param length Time limit in seconds for audio play back (optional)
    * @param direction The leg of the call audio will be played to (optional)
    * @param mix If false, all other audio will be muted (optional)
    * @return kotlin.String
    */
    @Suppress("UNCHECKED_CAST")
    fun callsPlayaudios(callSid: kotlin.String, audioUrl: kotlin.String, sayText: kotlin.String, length: kotlin.Int, direction: kotlin.String, mix: kotlin.Boolean) : kotlin.String {
        val localVariableBody: kotlin.Any? = mapOf("CallSid" to "$callSid", "AudioUrl" to "$audioUrl", "SayText" to "$sayText", "Length" to "$length", "Direction" to "$direction", "Mix" to "$mix")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: kotlin.collections.Map<kotlin.String,kotlin.String> = mapOf("Content-Type" to "multipart/form-data")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/calls/playaudios.json",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.String>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.String
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
            else -> throw kotlin.IllegalStateException("Undefined ResponseType.")
        }
    }

    /**
    * Record Call
    * Start or stop recording of an in-progress voice call.
    * @param callSid The unique identifier of each call resource 
    * @param record Set true to initiate recording or false to terminate recording 
    * @param direction The leg of the call to record (optional)
    * @param timeLimit Time in seconds the recording duration should not exceed (optional)
    * @param callBackUrl URL consulted after the recording completes (optional)
    * @param fileformat Format of the recording file. Can be .mp3 or .wav (optional)
    * @return kotlin.String
    */
    @Suppress("UNCHECKED_CAST")
    fun callsRecordcalls(callSid: kotlin.String, record: kotlin.Boolean, direction: kotlin.String, timeLimit: kotlin.Int, callBackUrl: kotlin.String, fileformat: kotlin.String) : kotlin.String {
        val localVariableBody: kotlin.Any? = mapOf("CallSid" to "$callSid", "Record" to "$record", "Direction" to "$direction", "TimeLimit" to "$timeLimit", "CallBackUrl" to "$callBackUrl", "Fileformat" to "$fileformat")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: kotlin.collections.Map<kotlin.String,kotlin.String> = mapOf("Content-Type" to "multipart/form-data")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/calls/recordcalls.json",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.String>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.String
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
            else -> throw kotlin.IllegalStateException("Undefined ResponseType.")
        }
    }

    /**
    * Play DTMF
    * Play Dtmf and send the Digit
    * @param callSid The unique identifier of each call resource 
    * @param playDtmf DTMF digits to play to the call. 0-9, #, *, W, or w 
    * @param playDtmfDirection The leg of the call DTMF digits should be sent to (optional)
    * @return kotlin.String
    */
    @Suppress("UNCHECKED_CAST")
    fun callsSenddigits(callSid: kotlin.String, playDtmf: kotlin.String, playDtmfDirection: kotlin.String) : kotlin.String {
        val localVariableBody: kotlin.Any? = mapOf("CallSid" to "$callSid", "PlayDtmf" to "$playDtmf", "PlayDtmfDirection" to "$playDtmfDirection")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: kotlin.collections.Map<kotlin.String,kotlin.String> = mapOf("Content-Type" to "multipart/form-data")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/calls/senddigits.json",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.String>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.String
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
            else -> throw kotlin.IllegalStateException("Undefined ResponseType.")
        }
    }

    /**
    * View Call
    * Retrieve a single voice call’s information by its CallSid.
    * @param callSid The unique identifier for the voice call. 
    * @return kotlin.String
    */
    @Suppress("UNCHECKED_CAST")
    fun callsViewcalldetail(callSid: kotlin.String) : kotlin.String {
        val localVariableBody: kotlin.Any? = mapOf("callSid" to "$callSid")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: kotlin.collections.Map<kotlin.String,kotlin.String> = mapOf("Content-Type" to "multipart/form-data")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/calls/viewcalldetail.json",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.String>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.String
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
            else -> throw kotlin.IllegalStateException("Undefined ResponseType.")
        }
    }

    /**
    * View Call
    * Retrieve a single voice call’s information by its CallSid.
    * @param callsid The unique identifier for the voice call. 
    * @return kotlin.String
    */
    @Suppress("UNCHECKED_CAST")
    fun callsViewcalls(callsid: kotlin.String) : kotlin.String {
        val localVariableBody: kotlin.Any? = mapOf("callsid" to "$callsid")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: kotlin.collections.Map<kotlin.String,kotlin.String> = mapOf("Content-Type" to "multipart/form-data")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/calls/viewcalls.json",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.String>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.String
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
            else -> throw kotlin.IllegalStateException("Undefined ResponseType.")
        }
    }

    /**
    * Voice Effect
    * Add audio voice effects to the an in-progress voice call.
    * @param callSid The unique identifier for the in-progress voice call. 
    * @param audioDirection The direction the audio effect should be placed on. If IN, the effects will occur on the incoming audio stream. If OUT, the effects will occur on the outgoing audio stream. (optional)
    * @param pitchSemiTones Set the pitch in semitone (half-step) intervals. Value between -14 and 14 (optional)
    * @param pitchOctaves Set the pitch in octave intervals.. Value between -1 and 1 (optional)
    * @param pitch Set the pitch (lowness/highness) of the audio. The higher the value, the higher the pitch. Value greater than 0 (optional)
    * @param rate Set the rate for audio. The lower the value, the lower the rate. value greater than 0 (optional)
    * @param tempo Set the tempo (speed) of the audio. A higher value denotes a faster tempo. Value greater than 0 (optional)
    * @return kotlin.String
    */
    @Suppress("UNCHECKED_CAST")
    fun callsVoiceeffect(callSid: kotlin.String, audioDirection: kotlin.String, pitchSemiTones: kotlin.Double, pitchOctaves: kotlin.Double, pitch: kotlin.Double, rate: kotlin.Double, tempo: kotlin.Double) : kotlin.String {
        val localVariableBody: kotlin.Any? = mapOf("CallSid" to "$callSid", "AudioDirection" to "$audioDirection", "PitchSemiTones" to "$pitchSemiTones", "PitchOctaves" to "$pitchOctaves", "Pitch" to "$pitch", "Rate" to "$rate", "Tempo" to "$tempo")
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableHeaders: kotlin.collections.Map<kotlin.String,kotlin.String> = mapOf("Content-Type" to "multipart/form-data")
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/calls/voiceeffect.json",
            query = localVariableQuery,
            headers = localVariableHeaders
        )
        val response = request<kotlin.String>(
            localVariableConfig,
            localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.String
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
            else -> throw kotlin.IllegalStateException("Undefined ResponseType.")
        }
    }

}
